/* Seteo de archivos */

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* Clases Reutilizables*/
.display_none {
  display:none;
}
.inline {
  display:inline-block;
}
.icon-menu {
  margin-left: 0.3em;
  color: #d6d6d6da ;
}
.position_icon_top_left{
  padding-left: 0;
  margin-left: 0;
}

/* Estilos Generales*/
.fa {
  font-size: 1.5em;
}
.container-flex-column {
  display: flex;
	flex-direction:column;
	padding: 1em;
  align-items: center;
  justify-content: center;
}
.container-flex-row {
  display: flex;
	justify-content:space-between;
  align-items: center;
}
.vh100 {
	height: 100vh;
}
.vh75{
  height: 75vh;
}

/* Vista index*/

.background_gif{
  background-image:url(../assets/images/gif_fondo.gif);
  background-position:center;
  background-size:cover;
}
.get_connect_btn{
  background: none;
  color: white;
  border:2px solid white;
}
.position_bottom_rigth{
  display: flex;
  justify-content:flex-end;
}
.next_icon{
  color: #fff;
}
.logo{
  margin-top: 70%;
margin-bottom: 16em;
}

/* Vista welcome */

.bckg {
  background-image: url(../assets/images/fondo.jpg);
  background-size: cover;
}
.container-btns {
  margin-top: 3em;
  padding: 0 3em;
  justify-content: space-between;
  bottom: 0;
}
.btn-outline {
  border:1px solid rgb(255, 255, 255);
  color:white;
  padding:0.5em 0;
  font-size:1.2em;
  background: none;
  margin-bottom: 1em;
  
}
.fa-google {
  padding: 0 0.2em;
  font-size: 2em;
  color:#dd0909;
}
#btn-signup > i{
  color:rgb(185, 8, 8);
  padding:0.3em;
}
.btn-outline:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.description {
  margin: 5em 1em 0 1em;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size:2.3em;
  color:rgb(255, 255, 255)
}

/* Modal  User */ 

body > header > div > div > nav > ul:nth-child(1) > i {
  color:rgb(194, 194, 194);
  position: absolute;
  left: 0;
}
.user-photo{
  max-width: 10em;
  height: auto;
  margin: auto;
}
.btn-follow {
  display: block;
  background-color: rgba(35, 165, 94, 0.562);
  border:none;
}
.wrapper-account-box {
  background-color: rgba(158, 159, 161, 0.322);
  border-bottom: 3px solid rgb(158, 161, 160);
  border-right:  3px solid rgb(158, 161, 160);
  border-radius: 3em;
  padding:1em;
  margin-bottom: 0.5em;
}
.my-photo {
  border-radius:50%;
}
.btn-tags {
  font-size: 0.9em;
  font-weight: bold;
  background: rgba(22, 223, 83, 0.527);
  border-radius: 10px;
  padding:0.4em;
}
/* Vista interests*/

body > header > div.col-xs-12.position_top_left > a > i {
  float: left;
  color:#818181;
}

.btn_interests_next{
  background-color: #25EA91 ;
  border: none;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.3em;
  color: white;
}
.option_interests{
  border:none;
  border-radius: 15px;
  padding: 0.5em;
  width: 15em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family:sans-serif;
  font-weight:bolder;
}
.fondo_plomo{
  background-color: #EBEDEF;
}

/* Tags  a escoger por el usuario*/
.fondo_front{
  background-image: url(../assets/images/fondo_fronted.jpg);
}
.fondo_ux{
  background-image: url(../assets/images/ux_ui.jpg);
}
.fondo_back{
  background-image: url(../assets/images/backend_fondo.png);
}
.fondo_data{
  background-image: url(../assets/images/data_science_fondo.jpg);
}
.fondo_ia{
  background-image: url(../assets/images/ia_fondo.jpg);
}
.fondo_electronica{
  background-image: url(../assets/images/electronica_fondo.jpg);
}

/* Hover vista interests*/

.selected_interest{
  background-color: black;
  color:white;
}

/* Header Home*/

.header{
  text-align: center;
  background-color: black;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
body > div.container-fluid > div > div > header > ul > li:nth-child(3) {
  float: right;
  line-height: 6;
}
body > div.container-fluid > div > div > header > ul > li:nth-child(1) {
 float: left;
 line-height: 6;
}
.inline {
  display: inline-block;
}
body > div.container-fluid > div > div > header > ul {
  margin:0;
}

/* Vista Home*/

#header > div > header > div > h2 {
  color:rgba(255, 255, 255, 0.863);
  font-weight: 200;
}
.photo_user_header{
  height: auto;
  width: 10%;
  }
.elements_inline{
  display: flex;
  justify-content: flex-start;
}
.input_user_publication{
  margin-left: 1em;
}
.all_publications{
  padding-bottom: 1em;
}
.publication{
  text-align:justify;
}
.wrapper-publications {
  padding:1.3em;
  background-color: #a7a6a659;
  width: 100%;
  height: 350px;
  border-radius: 15px;
}
.tags-posts {
  font-size: 0.9em;
  font-weight: bold;
  background: rgba(183, 182, 187, 0.377);
  border-radius: 5px;
  border: 1px solid #818181;
  padding:0.5em;
  margin:0.5em;
}
#description_post {
  margin:0.5em;
}
.section_to_post {
  padding:1em;
}
.wrapper-posts {
  background-color: rgba(50, 209, 130, 0.342);
  padding:1.5em;
  border-radius: 15px;
}
.spacing {
  padding-top: 1em;
}
body > div.section_to_post > div > div > div > div > span > i {
  color: rgb(88, 88, 88);
}
body > div.main-title > h3 {
  margin:0;
  padding: 0.5em 0 0 0;
}
#container-post {
  padding:1em;
  background-color: #eec13c2a;
  height:auto;
  border-radius: 5em;
}
#title_post{
  font-weight: bold;
}


/* Modal menu hamburguesa vista home */

.modal_menu_hamburguer{
  position: fixed;
  z-index: 20000;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Estilos modal vista home */
.subtitles-modal {
  background-color: rgba(50, 219, 120, 0.205);
  border-radius: 20px;
  padding: 0.5em 1em;
  border-bottom: 3px solid #ffd103d5;
  border-right: 3px solid #ffd103d5;
}