<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>User Profile</title>
</head>
<body class="vh100">
  <header class="header">
      <div class="container-fluid">
          <div class="row">
              <nav class="col-xs-12">
                  <ul class="inline"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></ul>
                  <ul class="inline"><span class="logo-header">CONNECTECH</span></ul>
                  <ul class="inline user-photo-min"><img class="img-responsive header-img" src="../assets/images/user-default.png" alt=""></ul>  
              </nav>
          </div>
      </div>
  </header>
  <main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-follow">FOLLOW</button>
                <picture>
                        <img class="img-responsive user-photo" src="../assets/images/user-default.png" alt="">
                </picture>
                <div class="info">
                    <div>
                        <h3 id="name-user">Brenda Mesias</h2>
                    </div>
                    <div>
                        <h5 id="email-user">brendamesias@gmail.com</h5>
                    </div>
                </div>
                <div class="about">
                    <h4>I'm interesting about:</h4>
                    <div class="tags-profile">
                        <button class="btn btn-default btn-tags">#UX/UI</button>
                        <button class="btn btn-default btn-tags">#Front-End</button>
                        <button class="btn btn-default btn-tags">#Back-end</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  <script src="https://use.fontawesome.com/21b158d175.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
</body>
</html>
