<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>home</title>
</head>
<body class="vh100">
  <header class="header">
      <div class="container-fluid">
          <div class="row">
              <nav class="col-xs-12">
                  <ul class="inline"><i class="fa fa-chevron-left" aria-hidden="true"></i></ul>
                  <ul class="inline"><img class="img-responsive header-img" src="../assets/images/logo_connectech.png" class="img-responsive logo" alt="logo"></ul>
                  <ul class="inline user-photo"><img class="img-responsive header-img" src="../assets/images/user-default.png" alt=""></ul>  
              </nav>
          </div>
      </div>
  </header>
  <main class="container-flex-column">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                
            </div>
        </div>
    </div>
  </main>
  <script src="https://use.fontawesome.com/21b158d175.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
</body>
</html>
