<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>Home</title>
</head>
<body class="">
	<section class="bckg vh100 container-flex-row">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="description">
						<p>Learn, share  and discover all about science and technology.</p> 
					</div>
					<div class="container-btns">
							<button class="btn btn-outline col-xs-6 col-xs-offset-3">LOG IN</button>
							<button class="btn btn-outline col-xs-6 col-xs-offset-3" id="btn-signup"><i class="fa fa-google-plus" aria-hidden="true"></i>SIGN IN</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Modal que muestra datos de inicio de sesión-->

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <div class="alert alert-success" role="alert">Well Done! You have been registered succesfully.</div>
			</div>
			<div class="modal-body">
					<div class="user-data">
							<div class="panel panel-default col-xs-4">
									<div class="panel-heading" >Name:</div>
									<div class="panel-body" id ="your-name">
									  Panel content
									</div>
							</div>
							<div class="panel panel-default col-xs-8">
									<div class="panel-heading">Email</div>
									<div class="panel-body" id="your-email">
									  Panel content
									</div>
							</div>
							<div class="panel panel-default">
									<div class="panel-body" id="your-photo">
									</div>
							</div>
			</div>
			<div class="modal-footer">
			  <button type="button" id="btn-go-home" class="btn btn-success">NEXT</button>
			</div>
		  </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->
<script src="https://use.fontawesome.com/21b158d175.js"></script>
<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
<script src= "../vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>
